body {
  background-image: url(./img/pattern.jpg);
  /* font-family: 'Slabo 27px', serif; */
  margin: 0px;
}
.ulnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 2px solid #abc;
  background-color: #f3f3f3;
}

.linav {
  float: right;
  align-content: center;
}

.linav a {
  padding: 10px;;
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.linav a:hover:not(.active) {
  background-color: #ddd;
}

.linav a.active {
  color: white;
  background-color: #4CAF50;
}