h1{
  text-align: center;
}

.thlist, .trlist, .tdlist {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
.thform, .trform, .tdform {
  padding: 8px;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

form{
  text-align: center;
}

label{
  font-weight: bold;
  margin-right: 10px;
}